.LendingPage{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/Protoganist.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.CenterSection{
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin: 0;
}

@media (max-width: 500px){
    .CenterSection{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: flex-end; 
    }
}