
.thirdSlide{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 884px;
    background-color: black;
}
.description{
    display: flex;
    flex-direction: column;
    
}
.descBlock{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
}
.cdPr{
    display: flex;
    background-image: url('../../assets/photo/Bird.png');
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
}

.cyberH{
    margin-bottom:20px;
    font-family: Arch;
    color:#F8F200;
    font-size: 62px;
}
.cyberP{
    margin: 0;
    color:#F8F200;
    font-size: 25px;
}
.formSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
.formBlock{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height: 369px;
}

.photoDownLink {
    display: flex;
}

.photoDown{
    width: 100vw;
    height: 70px;
    display: flex;
    background-image: url('../../assets/PhotoDown2.jpeg');
}